.calendar-grid {
    display: grid;
    gap: 5px;
    padding: 1rem;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 100%;
    max-width: 600px;
    margin: 2rem auto;
    grid-template-columns: repeat(7, 1fr); /* 7 columns for days */
    font-family: Arial, sans-serif;
    text-align: center;
}

.calendar-header {
    display: contents;
    font-weight: bold;
    color: #0073e6;
}

.calendar-body {
    display: contents;
}

.calendar-grid span {
    padding: 0.5rem;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.calendar-grid span:hover {
    background-color: #e6f7ff;
    cursor: pointer;
}

// Themes
@mixin theme-light {
  --gray-100: #f8f9fa;
  --gray-200: #e9ecef;
  --gray-500: #adb5bd;

  --color-link: #0f5294;//#2619c1;//#0055bb;
  --color-visited-link: #0f5294;//#2619c1;//#0055bb;//#8440f1;

  --body-background: white;
  --body-font-color: black;

  --icon-filter: none;

  --hint-color-info: #6bf;
  --hint-color-warning: #fd6;
  --hint-color-danger: #f66;
}
