// Themes
@mixin theme-light {
  --gray-100: #f5f5dc /*#f8f9fa;*/
  --gray-200: #ece6cc /*#e9ecef;*/
  --gray-500: #eee6c4 /*#adb5bd;*/

  --color-link: #0055bb;
  --color-visited-link: #2e1594;

  --body-background: #fcf6ec; /*white; */
  --body-font-color: black;

  --icon-filter: none;

  --hint-color-info: #6bf;
  --hint-color-warning: #fd6;
  --hint-color-danger: #f66;
}
